body {
  background: #333333;
  font-size: 60px;
  padding-top: 20px;

}

.container {
  display: flex;
  justify-content: center;
}

.title {
  color: #fff;
  text-align: center;
  position: relative;
}

.title::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 4px solid #fff;
  background: rgb(255, 82, 82);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
}

.title:after {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(71, 59, 247);
  border-radius: 100px;
  border: 4px solid #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
}
